acoustics~=0.2.6
acoustics.constants
acoustics.speed_of_sound
ast
formulas~=1.2.7
io
json
math
matplotlib.pyplot
numpy~=1.26.2
os
pandas~=2.2.0
re
requests
scipy.special
setuptools~=65.5.1
subprocess
sys

matplotlib~=3.8.2
scipy~=1.11.4
ipywidgets~=8.1.1
ipython~=8.18.1
psutil~=5.9.8